## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/mariannevaldespino/Desktop/Classwork/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.59,72,94,14.43,overcast clouds
1,1,Puerto Ayora,EC,-0.7393,-90.3518,78.51,81,94,8.34,overcast clouds
2,2,Pangai,TO,-19.8000,-174.3500,80.65,78,100,9.44,light rain
3,3,College,US,64.8569,-147.8028,30.18,44,75,6.91,broken clouds
4,4,Upernavik,GL,72.7868,-56.1549,6.37,78,100,5.10,overcast clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 100

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.59,72,94,14.43,overcast clouds
1,1,Puerto Ayora,EC,-0.7393,-90.3518,78.51,81,94,8.34,overcast clouds
2,2,Pangai,TO,-19.8000,-174.3500,80.65,78,100,9.44,light rain
7,7,Mount Isa,AU,-20.7333,139.5000,96.57,21,44,8.05,scattered clouds
9,9,Hobart,AU,-42.8794,147.3294,73.26,50,20,6.91,few clouds
11,11,Port Moresby,PG,-9.4431,147.1797,82.60,75,100,10.67,overcast clouds
13,13,Taoudenni,ML,22.6783,-3.9836,70.88,25,0,10.40,clear sky
15,15,San Cristobal,VE,7.7669,-72.2250,71.78,66,8,1.41,clear sky
16,16,Pisco,PE,-13.7000,-76.2167,68.05,73,0,10.36,clear sky
17,17,Mecca,SA,21.4267,39.8261,62.15,33,0,13.51,clear sky

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                166
City                   166
Country                166
Lat                    166
Lng                    166
Max Temp               166
Humidity               166
Cloudiness             166
Wind Speed             166
Current Description    166
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.59,overcast clouds,-23.1203,-134.9692,
1,Puerto Ayora,EC,78.51,overcast clouds,-0.7393,-90.3518,
2,Pangai,TO,80.65,light rain,-19.8000,-174.3500,
7,Mount Isa,AU,96.57,scattered clouds,-20.7333,139.5000,
9,Hobart,AU,73.26,few clouds,-42.8794,147.3294,
11,Port Moresby,PG,82.60,overcast clouds,-9.4431,147.1797,
13,Taoudenni,ML,70.88,clear sky,22.6783,-3.9836,
15,San Cristobal,VE,71.78,clear sky,7.7669,-72.2250,
16,Pisco,PE,68.05,clear sky,-13.7000,-76.2167,
17,Mecca,SA,62.15,clear sky,21.4267,39.8261,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [112]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= clean_hotel_df[clean_hotel_df['Hotel Name'] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.59,overcast clouds,-23.1203,-134.9692,People ThankYou
1,Puerto Ayora,EC,78.51,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Pangai,TO,80.65,light rain,-19.8000,-174.3500,Ha'apai Beach Resort
7,Mount Isa,AU,96.57,scattered clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
9,Hobart,AU,73.26,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
11,Port Moresby,PG,82.60,overcast clouds,-9.4431,147.1797,Lamana Hotel (Port Moresby)
15,San Cristobal,VE,71.78,clear sky,7.7669,-72.2250,Pirineos
16,Pisco,PE,68.05,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
17,Mecca,SA,62.15,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
18,Pimentel,PE,70.84,scattered clouds,-6.8367,-79.9342,Hotel Puerto del Sol

In [113]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [121]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [122]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))